[Unit]
Description=System Workspace mount /mnt/workspace
ConditionPathIsSymbolicLink=!/tmp
Conflicts=umount.target
Before=local-fs.target umount.target

[Mount]
What=/dev/sdb
Where=/mnt/workspace
#Options=mode=1777,strictatime,nosuid,nodev,size=50%%,nr_inodes=1m

[Install]
WantedBy=multi-user.target
